*
{
    margin : 0 ;
    padding : 0;
    box-sizing: border-box;
}
html,body
{
    width: 100%;
    height: 100%;
}
@media (max-width: 768px) {
   #main {
      flex-direction: column;
   }
}
#main
{
    width: 100%;
    height: 100%;
    background-color: #C3F85F;
    display: flex;
}
#left
{
    width: 50%;
    height: 100%;
    flex : 1 ;
    background-color: #0B0B0B;
}

#login
{
    width : 80% ;
    height: 50%;
    position: relative;
    top:50%;
    left : 50%;
    transform: translate(-50%,-50%);
    background-color: #151515;
    padding: 21px ;
    
}
#login h1
{
    color : #C5F25B ;
    font-weight: 800;
    font-family: 'Mulish' ;
}
#components form
{
    display: flex;
    flex-direction: column  ;
}
#components form input 
{
    margin-bottom: 29px;
    font-family: 'Inter' ;
}
#components form label
{
    color: #C5F25B;
    margin-bottom: 10px;
    font-family: 'Inter' ;
    font-weight: 600;
}


#components form input
{
    width: 100%;
    height: 30px;
    border: 2px solid black;
    border-radius: 20px ;
    background-color: #1E1E1E ;
    padding: 7px 12px;
    color: #FFFFFF;
    font-family: 'Inter';
}
#components form input::placeholder
{
    color: rgba(255, 255, 255, 0.5) ;
}
#components form input:hover
{
    border: 3px groove white;
}
#components form #password_box
{
    display: flex;
}
#components form #password_box #eye
{
    display: flex;
    justify-content: center;
    margin-left: 2px;
    align-items: flex-start;
    padding-top: 8px;
    color: #BFBFBF;
    cursor: pointer;
    transition: 1s;
}
#components form #password_box #eye:hover
{
    color: #C5F25B;
    opacity: 1;
    transform: scale(1.1);
}
#validate h3
{
    font-weight: 500;
    font-family: 'Roboto';
    text-align: center;
    color: #101820;
    user-select: none;
}
#validate
{
    background-color: #8FCF3C;
}
#validate:hover
{
    background-color: #88cd22ff;
    border-radius: 20rem;
    border: 4px groove #baff52ff;
    
}
#emailMessage
{
    height:30px ;
    display : none ;
}
#emailError
{
    color: white;
}
#passwordMessage
{
    height:30px ;
    display : none ;
}
#passwordError
{
    color: white;
}
#correct
{
    height:30px;
    color: white;
    text-align: center;
    display: none;
}
#right
{
    width: 50%;
    height: 100%;
    flex : 1 ;
    background-color: aquamarine;
    overflow: hidden;
}
#right img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


